<!DOCTYPE html>
<html data-ng-app="artPearApp">
  <head>
    <meta charset="utf-8">
    <title>aRtIseek</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>

  </head>
  <body ng-controller="ArtistCntrl">
  <!-- <body ng-controller="ArtistCntrl"> -->
  <button ng-click="getArtist()">Get the Artists</button>
    <div ng-repeat="artist in artists">
        <a ng-click="showArtist(artist._id)">{{artist.firstName}}</a>
        <p >{{artist}}</p>
    </div>

  <form ng-submit="artist.createArtist(artist)">
    <input type="text" placeholder="First Name" ng-model="artist.firstName"><br/>
    <input type="text" placeholder="Last Name" ng-model="artist.lastName"><br/>
    <input type="email" placeholder="Email" ng-model="artist.email"><br/>
    <button type="submit">Submit</button>
  </form>

  <script src="/app/app.module.js"></script>
  <script src="app/app.services.js"></script>
  <script src="/app/app.controller.js"></script>

  <!-- <script src="app/components/artist/artist.module.js"></script> -->
  <!-- <script src="app/components/artist/artistController.js"></script> -->

  </body>
  </html>
