<div class="nav-adjust row">
  <div class="col m1 l1"></div>

  <div class="card col s12 m10 l10 artist-profile center">
    <div class="card-content">
      <img class="profile-pear"src="app/public/img/artPear-Pear.svg">
      <h2 class="">{{seeker.firstName}}  {{seeker.lastName}}</h2>
      <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla porro ratione ex, ab recusandae obcaecati, aut laudantium voluptate quaerat dolor, veritatis facere? Mollitia qui voluptatibus molestiae, sequi eos at!</p>
      
    </div>
  </div>
</div>
