<div class="nav-adjust row">
  <div class="col m1 l1"></div>

  <div class="card col s12 m10 l10 profile center">
    <div class="card-content">
      <img class="profile-pear"src="app/public/img/artPear-Pear.svg">
      <h2 class="">{{seeker.firstName}}  {{seeker.lastName}}</h2>
      <a href="#/opportunities/create">Create an Opportunity</a>
      <p class="description">{{seeker.bio}}</p>

      <a href="#/seekers/{{seeker._id}}/edit"><button class="btn green">Edit My Profile</button></a>
    </div>
  </div>
</div>
