<div class="nav-adjust profile red">
  <div class="card blue lighten-5">
    <div class="card-content ">
      <h5 class="blue-text">Artist</h5>
      <img class="profile-pear" src="app/public/img/artPear-Pear.svg">
      <h2 class="">{{artist.firstName}}  {{artist.lastName}}</h2>

      <p class="description col s12 m6 l6 center">{{artist.bio}}</p>

          <h3>My Portfolio</h3>
          <div ng-repeat="piece in artist.pieces track by $index">
            <p>
              Title: {{piece.title}}
            </p>
            <img ng-show="piece.photoUrl" ng-src="{{piece.photoUrl}}" alt="">
            <p ng-show="piece.description">
              Description: {{piece.description}}
            </p>
          </div>
          <a href="#/artists/{{artist._id}}/edit"><button class="btn green">Edit My Profile</button></a>
    </div>
  </div>
</div>
