<div class="nav-adjust ">
    <div class=" profile "  ng-repeat="artist in artists">
      <div class="card min-height">
        <div class="row">
          <img class="profile-pear left col s2 m4 l4"src="app/public/img/artPear-Pear.svg">
          <h3 class="left col s8">{{artist.firstName}}  {{artist.lastName}}</h3>
          <br/>
          <p class="description left col s8">{{artist.bio}}</p>
        </div>
        <a ng-href="#/artists/{{artist._id}}"><button class="btn padding-bottom">View This Portfolio</button>
      </div>
    </div>
</div>
